version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app-network
    # NO exponer puerto 4000 al público, Nginx hará el proxy

networks:
  app-network:
    external: true
