version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - app-network
    ports:
      - "127.0.0.1:4000:4000"  # Exponer solo a localhost, seguro

networks:
  app-network:
    external: true
