name: Deploy Backend + MySQL

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy to VPS with docker-compose
        run: |
          ssh -o StrictHostKeyChecking=no mortydev@198.100.155.243 "
            cd /home/mortydev/backend-traslado
            docker-compose up -d --build
          "
